:root{
    --header-nav: #E4D8CC;
    --header-paragraf: #C3BAB1;
    --button-title-color: #FFFFFF;
    --button-color: #7837F3;
    --header-button: rgba(228, 216, 204, 0.50);
    --main-title: #101010;
    --footer-nav: #B99FEA;
    --footer-title: #E7DFD8;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0 auto;
    width: 1280px;
}
.background{
    background-image: url(photo/1.png);
    background-repeat: no-repeat;

}
.header-nav{
    color: var(--header-nav);
    font-family: "Inter";
    font-size: 11px;
}
